@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
    font-family: 'JetBrains Mono';
}

body>#root>div {
    height: 100vh;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.movie-app>.row {
    overflow-x: auto;
    flex-wrap: nowrap;
}

.movie-app>.row img {
    border-radius: 10px;
    width: 180px;

}

.image-container {
    flex-direction: column;
    position: relative;
    transition: transform 0.2s;

}

.margin-top {
    margin-top: 150px;
}

.image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.image-container:hover .overlay {
    opacity: 1;

}

.overlay {
    text-align: center;
    font-size: 0.7em;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    margin-bottom: 24px;
    padding: 20px;

}

a {
    color: white;
    text-decoration: none;
}

.btn-pass {
    color: rgb(37, 37, 37);
    text-decoration: none;
    font-size: 0.9rem;
    margin-left: 10px;
    width: 100%;

}

.btn-pass:hover {
    color: rgb(217, 217, 217);
    background-color: #373737;
    text-decoration: none;
}

/******************* CONTAINERS CON RAZONES PARA UNIRSE A REELKEEPER *******************************/
.bordered {
    padding: auto 10px;
    margin: auto 20px;
    height: 100px;
    background-color: rgba(240, 240, 240, 0.363);
    border-radius: 3px;
    box-shadow: inset 0 1px 1px hsl(0, 0%, 100%), 10px 5px 5px rgba(0, 0, 0, 0.155);
}


.bordered i {
    margin: auto;
    display: block;
    font-size: 2em;
    ;
    text-align: center;
    width: 40px;
}


.bordered div {
    margin: auto;
}


.redhover:hover {
    background-color: rgba(206, 144, 86, 0.655);
    /* box-shadow: none; */
}

.yellowhover:hover {
    background-color: rgba(202, 206, 86, 0.656);
    /* box-shadow: none; */
}

.greenhover:hover {
    background-color: rgba(86, 206, 142, 0.527);
    /* box-shadow: none; */
}

.purplehover:hover {
    background-color: rgba(83, 35, 119, 0.537);
    /* box-shadow: none; */
}

@media (max-width: 800px) {
    .bordered {
        width: 100%;
        height: fit-content;
        padding: auto;

    }

    .movieContainer{
        flex-direction: column;
    }
    .posterContainer {
        max-width: 80%;
    }
    .detailsContainer{
        max-width: 100%;
    }
}

/* MOVIE DETAILS PAGE  */

.posterContainer img {
    width: 100%;
}
.castTag{
    background-color: rgb(83, 35, 119);
    border-radius: 5px;
    margin: 10px 5px;
    text-align: center;
    padding: 8px;
    box-shadow: inset 0 1px 1px hsl(0, 0%, 100%);
}

.crewTag{
    background-color: rgb(202, 206, 86);
    color:#212529;
    border-radius: 5px;
    margin: 10px 5px;
    text-align: center;
    padding: 8px;
    box-shadow: inset 0 1px 1px hsl(0, 0%, 100%);
}


.crewTag:hover, .castTag:hover{
    background-color: #212529;
    color: white;
    text-decoration: none;
    
}


.genreTag{
    background-color: rgba(86, 206, 142, 0.661);
    border-radius: 5px;
    margin: 10px 5px;
    text-align: center;
    padding: 0 10px;
    box-shadow: inset 0 1px 1px hsl(0, 0%, 100%);

}

.directorTag{
    background-color: rgba(206, 144, 86, 0.723);
    border-radius: 5px;
    margin: 10px 5px;
    text-align: center;
    padding: 0 10px;
    box-shadow: inset 0 1px 1px hsl(0, 0%, 100%);

}

.releaseYear{
    font-size: 1rem;
}

/* LIKE WATCHED WATCHLIST BUTTONS  */
.addListButton{
    background-color: rgba(206, 144, 86, 0.655);
    margin-right: 4px;
    
}

.favButton {
    background-color: rgba(86, 206, 142, 0.527);
    margin-right: 4px;
}

.watchedButton {
    background-color: rgba(202, 206, 86, 0.656);
    margin-right: 4px;
}

.watchlistButton {
    background-color: rgba(83, 35, 119, 0.537);
    
}

/******************** SCROLLBAR  ***********************/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
    ;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #212529;
}
